@charset "UTF-8";

.body {
	align-items: center;
}

header {
	min-width: 800px;
	align-items: center;
	text-align: center;
}

hr {
	width: 800px;
}

.header {
	height: 100px;
	margin-top: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 600;
}

.header .mainlogo {
	height: 80px;
	width: 280px;
	text-align: center;
	align-items: center;
	background-image: url(../images/multiCinema_logo.png);
	background-repeat: no-repeat;
	text-indent: -999999px;
}

.header .mainlogo a {
	display: block;
	height: 100%;
	width: 100%;
}

.myinformation {
	display: flex;
	gap: 10px;
}

.myinformation a {
	font-size: 12px;
	text-decoration: none;
	color: black;
}

#mainNavigator {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	align-items: center;
	text-align: center;
	display: flex;
	max-width: 720px;
}

#mainNavigator li {
	width: calc(100% / 3);
	text-align: center;
}

#mainNavigator a {
	text-decoration: none;
	color: black;
}

#mainNavigator a:hover {
	font-weight: bold;
}
