@charset "UTF-8";
#headerInput{
	width:800px;
	margin: 0 auto;
	text-align: center;
	margin-top: 250px;
}
#headerInput img{
	width: 402px;
}

#contents{
		width: 800px;
		margin: 0 auto;	
		height: 443px;
	}
	#contents_header > h1{
		text-align: left;
	}
	#login_box{
		height: 132px;
		padding-top: 153px;
		padding-bottom: 153px;
		background-color: rgb(192, 192, 192,0.1);
		text-align: left;
		
	}
	.user_login_wrap input{
		width: 350px;
		height: 45px;
	}
	.user_login_wrap{
		width: 509px;
		display: inline-block;
		text-align: right;
	}
	#login_btn_wrap{
		height: 102px;
		width: 140px;
		text-align: center;
		position: relative;
		top: -102px;
		left: 511px;
		
	}
	#login_btn{
		text-decoration: none;
		color: rgb(0, 0, 0, 0.6);
		font-size: 20px;
		font-weight: 1000;
		line-height: 102px;
		height: 102px;
		width: 140px;
		border: 1px solid rgb(0,0,0,0.3);
		border-radius: 8px;
		background-color: rgb(254, 228, 1);
		cursor: pointer;
	}
	#sign_in_btn_wrap{
		position: relative;
		display: inline-block;
		top: -92px;
		left: 151px;
	}
	#sign_in_btn{
		text-decoration: none;
		color: rgb(0, 0, 0, 0.6);
		
	}