@charset "UTF-8";
#contents{
		margin-top: 70px;
		width: 1392.5px;
		margin-left: auto;
		margin-right: auto;
	}
	#boxoffice{
		font-size: 30px;
		margin:0 auto;
		margin-bottom: 30px;
		text-align: center;
	}
	
	#movieChart{
		width: 1392.5px;
		margin: 0 auto;
		overflow: hidden;
		height:520px;
	}
	#movieList{
		height:520px;
		width: 1400px;
		text-align: left;
	}
	.movie{
		width:250px;
		height:520px;
		margin-right:30px;
		position:relative;
		display: inline-block;
	}
	
	.img_wrap{
		
		width: 100%;
		height: 70%;
		position:relative;

	}
	
	.movie_detail_wrap{
		width: 100%;
		height: 100%;
		position:absolute;
		z-index: 2;
		background-color: rgba(0,0,0,0.6);
		top: 0%;
		border-radius: 10px;
	}
	
	.img_wrap > img{
		border-radius: 10px;
		width: 100%;
		height: 100%;
		z-index: 0;
		position:relative;
	}
	.age_limit_icon{
		width: 30px;
		height : 30px;
		position:relative;
		top: -95%;
		left: 85%;
		z-index: 1;
	}
	
	.age_limit_icon > img{
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	
	.movie_info{
		width: 100%;
		height: 10%;
		text-align: center;
	}
	.movie_btn{
		width: 90%;
		height: 15%;
		margin:0 auto;
	}
	.movie_title{
		width: 100%; 
		margin-top: 20px; 
		text-align: center;
		font-size: 20px;
		font-weight: 900;
		height: 27px;
		overflow:hidden;
		
	}
	.score_percentage{
		margin: 20px;
		text-align: center;
	}
	.movie_info > span{
		width: 50%;
		
		
	}
	.movie_btn{
		text-align: center;
	}
	.movie_btn a{
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-size: 15px;
		font-weight: 900;
		line-height: 40px;
		
	}
	.movie_btn > div{
		display: inline-block;
		width: 40%;
		height : 40px;
		background-color: rgb(254, 228, 1);
		margin: 5px;
		border-radius: 20px;
		text-align: center;
		
	}
	.rank{
		font-size: 70px;
		font-style: italic;
		color: white;
		font-weight: 400;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
		left: 0%;
		top:-31%;
		position: relative;
		width: 50px;
		height: 60px
	}
	
	.movie_detail_btn{
		background-color: white;
		width: 50%;
		height: 10%;
		border-radius: 10px;
		text-align: center;
		line-height: 38px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top:50%;
		margin-top: -5%;
	}
	
	.movie_detail{
		text-decoration: none;
		color: rgb(0, 0, 0);
	}
	.movie_info_score{
		margin-right: 2px;
		padding-right: 5px;
		border-right: 1px solid rgb(0,0,0,0.2) ;
	}
	#slide_btn{
		display: inline-block;
		z-index: 4;
		width: 1430px;
		position: relative;
		top: 250px;
		left: -19px;
	}
	#slide_btn_right{
		float: right;
		background-color: rgb(254, 228, 1,0.6);
		border: 1px solid  rgb(0,0,0,0.5);
		border-radius: 5px;
		width: 40px;
		height: 40px;
		cursor: pointer;
	}
	#slide_btn_left{
		float: left;
		background-color: rgb(254, 228, 1,0.6);
		border: 1px solid  rgb(0,0,0,0.5);
		border-radius: 5px;
		width: 40px;
		height: 40px;
		cursor: pointer;
	}