@charset "UTF-8";
#contents_movie_detail{
		width: 790px;
		height: 720px;
		margin: 0 auto;
		text-align: left;
		padding: 0 5px 0 5px;
		
	}
	#movie_datail_upper{
		display: inline-block;
	}
	#movie_poster{
		height: 450px;
		width: 300px;
		float: left;
		padding:80px 30px 25px 10px;
	}
	#movie_poster > img{
		height: 100%;
		width: 100%;
		border-radius: 5px;
	}
	#movie_info{
		float: left;
		margin-top: 55px;
		width: 450px;
	}
	#movie_info_synopsis{
		height: 200px;
		width: 440px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	#movie_info_etc > span{
		border-right: 1px solid rgb(0,0,0,0.3);
		margin-right: 5px;
		
		padding-right: 5px;
	}
	#movie_info_ticketing{
		width: 200px;
		height: 50px;
		border: 1px solid rgb(254, 228, 1);
		background-color: rgb(254, 228, 1);
		border-radius: 5px;
		text-align: center;
		margin: 20px;
	}
	
	#movie_info_ticketing a{
		text-decoration: none;
		color: rgb(0,0,0,0.8);
		line-height: 50px;
	}
	
	#movie_info_ticketing div{
		width: 100%;
		height: 100%;
	}
	#still_cut_list{
		display: inline-block;
		height: 140px;
		width: 800px;
		overflow: hidden;
	}
	#still_cut_list img{
		width: 180px;
		height: 120px;
	}
	#still_cut_slider {
		width: 2000px;
	}
	#contents_movie_comments{
		border-top: 1px solid  rgb(0,0,0,0.2);
		text-align: left;
		width: 800px;
		margin: 0 auto;
	}
	
	.comments {
		border-top: 1px solid  rgb(0,0,0,0.2);
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.comments_date{
		
		font-size: 14px;
	}
	.comments_id{
		width: 180px;
		border-right: 1px solid rgb(0,0,0,0.5);
	}
	.comments_contents{
		font-weight: 900;
		margin-top: 10px;
		z-index: 0;
	}
	#updateform{
		position: relative;
		z-index: 1;
	}
	
	#my_comment_modify_part{
		float: right;
		height: 24px;
		
	}
	#comments_sort_btn{
		text-align: right;
	}
	
	.sort_btn{
		border: 0;
		cursor: pointer;
		font-size: 15px;
		color: rgb(0,0,0,0.8);
		background-color: white;
	}
	#sort_date_btn{
		border-right: 1px solid rgb(0,0,0,0.2);
	}
	#sort_like_btn{
		border-right: 1px solid rgb(0,0,0,0.2);
	}
	#write_comments{
		height: 90px;
		width:800px;
		margin-top:20px;
	}
	#write_comments > input{
		height: 46px;
		width:500px;
		margin-right: 30px;
	}
	#write_comments > button{
		margin-left:10px;
		border: 1px solid #fdd000;
		background-color: #fdd000;
		cursor: pointer;
		border-radius: 5px;
		width:100px;
		height: 50px;
	}
	#updateform_content{
		width:350px;
		height:48px;
		resize: none;
	}
	.like_btn{
		cursor: pointer;
		float: right;
	}
	.like_btn img{
		width: 20px;
		height: 20px;
	}
	
	.stars{
		appearance: none;
		content: url(../images/1emptystar.png);
		width: 25px;
		height: 25px; 
	}
	#still_cut_list{
		position:relative;
		z-index:1;
	}
	#slide_btn{
		display: inline-block;
		z-index: -1;
		width: 882px;
		position: relative;
		top: -102px;
		left: -41px;
	}
	#slide_btn_right{
		float: right;
		background-color: rgb(255, 255, 255,0.6);
		border: 1px solid  rgb(0,0,0,0.5);
		border-radius: 5px;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: relative;
   		top: -98px;
    	left: 51px;
	}
	#slide_btn_left{
		float: left;
		background-color: rgb(255, 255, 255,0.6);
		border: 1px solid  rgb(0,0,0,0.5);
		border-radius: 5px;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: relative;
   		top: -98px;
    	left: -41px;
	}